<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.xinzeling2"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- jiguang push -->
    <!-- Required -->
    <permission
        android:name="net.xinzeling2.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    
    <!-- Required -->
    <uses-permission android:name="net.xinzeling2.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
 <!-- since 1.6.0 -->


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- jiguagnpush end -->
    <application
        android:name="net.xinzeling.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5325b01556240b15591976b5" >
        </meta-data>

        <activity
            android:name="net.xinzeling.MainActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.xinzeling.test.TestActivity"
            android:label="test入口"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1103520665" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>jkc
        <!-- ############ 微信和微信朋友圈的回调 ############### -->
        <activity
            android:name="net.xinzeling.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 其他继续 -->

        <activity
            android:name="net.xinzeling.setting.MainSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.HomeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.EarlyDateTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.PushSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.news.GuaNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.news.GuaNewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.news.GuaShiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.DateActivity"
            android:theme="@style/translucent" />
        <activity
            android:name="net.xinzeling.DateTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name="net.xinzeling.TimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name="net.xinzeling.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.setting.SigninActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.setting.UsrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.setting.UsrEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.gua.GuaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.gua.QiuGuaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.gua.GuaInstruActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.news.GuaNewsShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.gua.JieGuaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.gua.ShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.xinzeling.share.WeiboShareActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.xinzeling.setting.GuaListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.note.NoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.note.TopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.xinzeling.note.NoteCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />

        <receiver android:name="net.xinzeling.receiver.AlarmReceiver" >
            <intent-filter>
                <action android:name="xinzeling_alarm" />
            </intent-filter>
        </receiver>
         <activity
            android:name="net.xinzeling.share.CommonShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />
        
        
        <!-- jiguang start -->
          <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        
         <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
          <intent-filter android:priority="1000"> <!--since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--since 1.3.5 -->
                <category android:name="net.xinzeling2" /> <!--since 1.3.5 -->
            </intent-filter> <!--since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="net.xinzeling2" />
            </intent-filter>
        </activity>
        
         <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

         <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="net.xinzeling.push.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="net.xinzeling2" />
            </intent-filter>
        </receiver>
 
        
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="a31305760435e9d10745901c" /> <!--  </>值来自开发者平台取得的AppKey-->
        
    </application>

</manifest>